<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jasantunes.alfred-chrome-bookmarks</string>
	<key>connections</key>
	<dict>
		<key>49936788-D3D9-49C2-95D0-A022290E7F4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8D71B7F-1E26-4B98-8D98-2B969DD2227A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>766A7B67-841F-4EF3-BEFF-3F35CE3269B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49936788-D3D9-49C2-95D0-A022290E7F4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A2D4ABA-26AE-4063-97EC-66102796B4D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49936788-D3D9-49C2-95D0-A022290E7F4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99F882E2-C6D2-4DE0-B3D2-93A15FD4418E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0C43A20-F3AC-483E-AB38-BF6793CC7463</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7F242EC-873D-4846-ADB6-B9C8AA82278E</key>
		<array/>
		<key>EEE082BE-EAD0-4BF5-B546-7FB4C6545B24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4E61A22-0F1D-460F-8595-62BB2CBD0CE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joao Antunes</string>
	<key>description</key>
	<string>Search Chrome Bookmark Folders (multiple profile support)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome Bookmark Folders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search Chrome Bookmark Folders for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>766A7B67-841F-4EF3-BEFF-3F35CE3269B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>go</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Indexing...</string>
				<key>script</key>
				<string>/usr/bin/python bookmarks.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter query to search Chrome Bookmark Folders</string>
				<key>title</key>
				<string>Chrome Bookmark Folders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49936788-D3D9-49C2-95D0-A022290E7F4F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>query=$1
IFS=, read profile bookmark urls &lt;&lt;&lt; "${query}"

browser_urls=
non_browser_urls=

for url in ${urls}
do
	if [[ "${url}" =~ ^http://|^https:// ]]
	then
		browser_urls="${browser_urls} ${url}"
	else
		non_browser_urls="${non_browser_urls} ${url}"
	fi
done

# Open browser urls in chrome
open --new -b com.google.Chrome --args --new-window --profile-directory="${profile}" ${browser_urls}

# Open non-browser urls in default apps
open ${non_browser_urls}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8D71B7F-1E26-4B98-8D98-2B969DD2227A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7A2D4ABA-26AE-4063-97EC-66102796B4D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>go-add</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Finding Profiles...</string>
				<key>script</key>
				<string>/usr/bin/python profiles.py --addProfile "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Chrome Profiles</string>
				<key>title</key>
				<string>Add a Chrome Profile to Chrome Bookmark Folders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EEE082BE-EAD0-4BF5-B546-7FB4C6545B24</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>profile=$1
/usr/bin/python add_profile.py "$profile"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C4E61A22-0F1D-460F-8595-62BB2CBD0CE1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>profile=$1
/usr/bin/python remove_profile.py "$profile"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0C43A20-F3AC-483E-AB38-BF6793CC7463</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>go-remove</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Finding Profiles...</string>
				<key>script</key>
				<string>/usr/bin/python profiles.py --removeProfile "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Chrome Profiles</string>
				<key>title</key>
				<string>Remove a Chrome Profile to Chrome Bookmark Folders</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>99F882E2-C6D2-4DE0-B3D2-93A15FD4418E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>go-update</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Indexing...</string>
				<key>script</key>
				<string>/usr/bin/python update_index.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Force update suggestions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D7F242EC-873D-4846-ADB6-B9C8AA82278E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type "go" to search on your bookmark folders

Start typing a query and the bookmarks get filtered.

Type "go-add" or "go-remove" then select a listed profile to customize profiles that are searched.

Note: go-remove will show the profiles that are currently being searched and `go-add` will show all available profiles.


A great part of the code was adapted from &lt;https://github.com/mdreizin/chrome-bookmarks-alfred-workflow&gt;</string>
	<key>uidata</key>
	<dict>
		<key>49936788-D3D9-49C2-95D0-A022290E7F4F</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>766A7B67-841F-4EF3-BEFF-3F35CE3269B0</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>7A2D4ABA-26AE-4063-97EC-66102796B4D7</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>99F882E2-C6D2-4DE0-B3D2-93A15FD4418E</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>A0C43A20-F3AC-483E-AB38-BF6793CC7463</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>C4E61A22-0F1D-460F-8595-62BB2CBD0CE1</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D7F242EC-873D-4846-ADB6-B9C8AA82278E</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>D8D71B7F-1E26-4B98-8D98-2B969DD2227A</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>EEE082BE-EAD0-4BF5-B546-7FB4C6545B24</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/jasantunes/alfred-chrome-bookmarks</string>
</dict>
</plist>
